<div class="ligne-beige">
  <%= link_to new_guest_path, class: "lien-galerie" do %>
    <p class="bouton">Retour</p>
  <% end %>
</div>
<div class="row d-flex justify-content-center">
  <%= image_tag "leila-1.jpeg", class: "photo-couple" %>
  <%= image_tag "leila-2.jpeg", class: "photo-couple" %>
  <%= image_tag "leila-3.jpeg", class: "photo-couple" %>
  <%= image_tag "leila-4.jpeg", class: "photo-couple" %>
  <%= image_tag "leila-5.jpeg", class: "photo-couple" %>
  <%= image_tag "leila-6.jpeg", class: "photo-couple" %>
  <%= image_tag "leila-7.jpeg", class: "photo-couple" %>
  <%= image_tag "leila-8.jpeg", class: "photo-couple" %>
</div>

<div class="ligne-beige-basse">
<p class="verset">1 corinthiens 13:4-8 " L'amour est patient, il est plein de bonté; l'amour n'est pas envieux; l'amour ne se vante pas, il ne s'enfle pas d'orgueil, il ne fait rien de malhonnête, il ne cherche pas son intérêt, il ne s'irrite pas, il ne soupçonne pas le mal, il ne se réjouit pas de l'injustice,  mais il se réjouit de la vérité ; il pardonne tout, il croit tout, il espère tout, il supporte tout. L'amour ne meurt jamais."</p>
</div>
