<div class="cover">
<%= image_tag "invit-leila.jpeg", class: "invit" %>
</div>
<div class="ligne-beige"></div>
<div class="photo-form">
<%= image_tag "photo-couple.jpeg", class: "photo-couple" %>
<%= render "guests/form", guest: @guest %>
</div>
<div class="adress">
  <h2 class="titre">Les adresses</h2>
  <div class="places">
    <%= image_tag "manoir.png", class: "places-photo" %>
    <%= image_tag "mairie.png", class: "places-photo" %>
  </div>
</div>
