<p>Réponse invité</p>
<p> Nom et prénom : <%= @guest.first_name %> <%= @guest.last_name %></p>
<p> Conjoint : <%= @guest.lover %> </p>
<p> Enfants : <%= @guest.children %> </p>
<p> Présence : <%= @guest.coming %></p>
<p> Commentaire : <%= @guest.comment %> </p>
